
<h3 class="text-light">Nova Ficha</h3>

{{#each errs}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}


<div class="card bg-dark" >

    <div class="card-body" >

        <form action="/admin/sheets/new" method="POST">

            <label class="text-light" for="jogador">Jogador:</label>
            <input type="text" id="jogador" name="jogador" placeholder="Nome do Jogador" class="form-control">

            <label class="text-light" for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" placeholder="Nome do Personagem" class="form-control">

            <label class="text-light" for="raça">Raça:</label>
            <input type="text" id="raça" name="raça" placeholder="Raça do Personagem" class="form-control">

            <label class="text-light" for="passado">Passado:</label>
            <input type="text" id="passado" name="passado" placeholder="Passado do Personagem" class="form-control">

            <label class="text-light" for="classe">Classe:</label>
            <input type="text" id="classe" name="classe" placeholder="Classe do Personagem" class="form-control">

            <label class="text-light" for="oficio">Ofício:</label>
            <input type="text" id="oficio" name="oficio" placeholder="Ofício do Personagem" class="form-control">

            <button type="submit" class="btn btn-outline-light mt-4">Criar Personagem</button>

        
        </form>

    </div>
    
</div>

